@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="d-flex justify-content-center align-items-center flex-column">
    <a class="btn btn-secondary my-3" href="/userlogin">User Login</a>
    <form class="d-flex flex-column align-items-center" action="/users/add" method="post">
        <h1>New User</h1>

        <label for="FirstName">FirstName</label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>

        <label for="LastName">LastName</label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span>

        <label for="Email">Email</label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>

        <label for="Password">Password</label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>

        <label for="Confirm">Confirm Password</label>
        <input asp-for="Confirm">
        <span asp-validation-for="Confirm"></span>



        <input type="submit" value="Register" class="btn btn-primary my-3">
    </form>
</div>